$pink: #fa2457;
$light-pink: #fc4e58;
$very-light-pink: #fe745a;

body {
  font-family: "Merriweather", serif;
  overflow-x: hidden;
  .btn:link,
  .btn:visited {
    position: relative;
    background-color: #fff;
    color: #777;
    text-decoration: none;

    text-transform: uppercase;
    transition: all 0.2s;
  }

  .btn-white {
    color: #777;
    background-color: #fff;
  }

  .btn:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(0.1rem);
    box-shadow: 0px 10px 1rem rgba(0, 0, 0, 0.2);
  }

  .btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: white;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10rem;
    transition: all 0.4s;
  }

  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0;
  }

  .btn-animated {
    animation: moveUp 0.4s;
    animation-fill-mode: backwards;
  }
  #button {
    display: inline-block;
    background-image: linear-gradient(to right, $pink, $very-light-pink);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f106";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

  #home {
    .square {
      position: absolute;
      background-color: #f9f9f9;
      border-radius: 5rem;
      height: 20rem;
      width: 20rem;
      top: -26%;
      left: 84%;
      transform: rotate(-17deg);
    }
    .square-2 {
      position: absolute;
      background-color: #f5f5ff;
      border-radius: 5rem;
      height: 20rem;
      width: 20rem;
      top: -13%;
      left: 81%;
      transform: rotate(-17deg);
    }
    .bg {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.4;
    }

    nav {
      position: relative;

      img {
        position: absolute;
        top: -35%;
        left: 2%;
        max-width: 13rem;
      }
      .btn {
        border-radius: 4rem;
        background-image: linear-gradient(to right, $pink, $very-light-pink);

        font-size: 0.8rem;
        font-weight: bold;
        a {
          color: white !important;
        }
      }
    }
    .section {
      margin-top: 11rem;
      .title {
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
        color: $pink;
        animation: moveUp 1s;
      }
      a.btn {
        background-color: #fff;
        border-radius: 24rem;
        position: absolute;
        top: 95%;
        left: 95%;
        color: $pink;
      }
    }
    .meet {
      font-size: 2.5rem;
      font-weight: 300;
      margin-left: -3rem;
      animation: moveRight 1s;
      .big {
        font-weight: bold;
      }
      .love {
        margin-left: 2rem;
        animation: moveLeft 1s;
      }
    }
    .one {
      margin-left: 2rem;
      animation: moveLeft 1s;
    }
    .two {
      margin-left: 4rem;
      animation: moveLeft 1s;
    }
    .three {
      margin-left: 5rem;
      animation: moveLeft 1s;
    }
  }
  #kiss {
    background-color: #fffdfe;
    margin-top: 8rem;
    .main {
      font-size: 2.5rem;

      color: #000000af;
      span {
        color: #000;
      }
    }
    select {
      margin-left: -5rem;
    }
    .sec {
      font-size: 2.5rem;
      color: #000000af;
    }
    a.btn {
      border-radius: 4rem;
      background-image: linear-gradient(to right, $pink, $very-light-pink);

      font-size: 0.8rem;
    }
    .search1 {
      border: 1px solid #eee;
      border-radius: 24rem;
      box-shadow: 0px 0px 10px rgba($light-pink, 0.2);
    }
  }
  #info {
    background-color: #f9f9f9;
    padding-bottom: 5rem;
    .row {
      margin-top: 5rem;
      .col-md-3 {
        margin-top: 6rem;
        padding-bottom: 4rem;
        .card {
          margin-top: 4rem;
          z-index: 30;
          .card-body {
            position: relative;
            z-index: 30;
            background-color: #f9f9f9;
            .num {
              font-size: 1.8rem;
            }
            .cat {
              font-size: 0.8rem;
              color: rgba($color: #000000, $alpha: 0.8);
            }
            .card-top {
              position: absolute;
              top: -59%;
              left: 19%;
              background-color: #fff;
              border: 1px solid #fff;
              border-bottom: 1px solid #eee;
              border-top-left-radius: 90px;
              border-top-right-radius: 90px;
              height: 5rem;
              width: 10rem;
              z-index: -1;
              color: $pink;
            }
          }
          &:hover .card-top {
            color: #fff;
            background-image: linear-gradient(to right, $pink, $very-light-pink);
            transition: all 0.5s;
          }
          &:hover .card-body {
            background-color: #fff;
            transition: all 0.5s;
          }
        }
      }
    }
  }
  #match {
    .line-vr {
      margin: 5px 0;
      height: 2px !important;
      background: repeating-linear-gradient(to right, #eee 0, #eee 5px, transparent 5px, transparent 7px);
      width: 6.3rem;
      transform: rotate(90deg);
      position: absolute;
      top: 58%;
      left: 47.6%;
      z-index: 999;
    }
    .line-hr {
      margin: 5px 0;
      height: 2px !important;
      background: repeating-linear-gradient(to right, #eee 0, #eee 5px, transparent 5px, transparent 7px);
      width: 10.3rem;
      position: absolute;
      top: 69%;
      left: 51.9%;
      z-index: 999;
    }
    .line-vl {
      margin: 5px 0;
      height: 2px !important;
      background: repeating-linear-gradient(to right, #eee 0, #eee 5px, transparent 5px, transparent 7px);
      width: 6.3rem;
      transform: rotate(90deg);
      position: absolute;
      top: 58%;
      left: 42.8%;
      z-index: 999;
    }
    .line-hl {
      margin: 5px 0;
      height: 2px !important;
      background: repeating-linear-gradient(to right, #eee 0, #eee 5px, transparent 5px, transparent 7px);
      width: 9.65rem;
      position: absolute;
      top: 69%;
      left: 33.8%;
      z-index: 999;
    }
    .title {
      margin-top: 6rem;
      margin-bottom: 1.5rem;
      font-size: 1.6rem;
      color: rgba($color: #000000, $alpha: 0.5);

      span {
        color: #000;
      }
    }
    .precentage {
      text-align: center;
      .num {
        margin: 5rem auto 0rem auto;
        border-right: 3px dashed $pink;
        border-left: 3px dashed $pink;
        border-top: 3px dashed $pink;
        padding: 4rem;
        border-top-left-radius: 24rem;
        border-top-right-radius: 24rem;
        max-width: 20rem;
        font-size: 1.7rem;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right, $pink, $very-light-pink);
        font-weight: bold;
      }
    }
    .names {
      border: 1px solid #fff;
      padding: 3rem 2rem;
      box-shadow: 0 5px 10px rgba($light-pink, 0.2);
      border-radius: 24rem;
      .form-group {
        text-align: start;
        input {
          border-radius: 14rem;
        }
      }
      a.btn {
        background-image: linear-gradient(to right, $pink, $light-pink, $very-light-pink);
        color: white;
        border-radius: 24rem;
      }
      .margin-right {
        margin-right: 23rem;
      }
    }
  }

  #work {
    background-color: #f9f9f9;
    .margin-top {
      margin-top: 6rem;
      padding-top: 5rem;
      .title {
        font-size: 1.8rem;
        color: rgba($color: #000000, $alpha: 0.6);
        span {
          color: #000;
        }
      }
    }
    .card {
      max-width: 15rem;
      margin: 5rem auto 5rem auto;
      .card-body {
        position: relative;
        z-index: 30;
        background-color: #f9f9f9;
        .card-top {
          position: absolute;
          top: -5rem;
          left: 15%;
          background-color: #fff;
          border: 1px solid #fff;
          border-top-left-radius: 90px;
          border-top-right-radius: 90px;
          height: 5rem;
          width: 10rem;
          z-index: -1;
          color: $pink;
        }
        .cat {
          font-size: 0.8rem;
        }
        .arrow1,
        .arrow2 {
          position: absolute;
          top: -34%;
          left: 100%;
        }
        .one,
        .two,
        .three {
          position: absolute;
          top: -50%;
          left: 15%;
          padding: 0.2rem 0.8rem 2rem;
          background-image: linear-gradient(to right, $pink, $very-light-pink);
          border-radius: 50%;
          height: 2rem;
        }
      }
      &:hover .card-top {
        color: #fff;
        background-image: linear-gradient(to right, $pink, $light-pink, $very-light-pink);
        transition: all 0.5s;
      }
    }
  }
  #reviews {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .title {
      margin-top: 5rem;
      font-size: 1.6rem;
      color: rgba($color: #000000, $alpha: 0.5);
      span {
        color: #000;
      }
    }
    .owl-carousel {
      position: relative;
      .owl-nav {
        .owl-prev {
          position: absolute;
          top: 46%;
          left: 66%;
          color: $pink;
        }
        .owl-next {
          position: absolute;
          top: 60%;
          left: 66%;
        }
      }
      .slider1,
      .slider2,
      .slider3 {
        img {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          margin-top: 0rem;
          margin-left: 3rem;
        }
      }
    }
  }
  #members {
    background-color: #f9f9f9;
    padding-bottom: 3rem;
    .title {
      margin-top: 5rem;
      font-size: 1.6rem;
      color: rgba($color: #000000, $alpha: 0.5);

      span {
        color: #000;
      }
    }
    .card {
      margin-top: 3rem;
      border: 1px solid #f9f9f9;
      background-color: #f9f9f9;
      .card-image-top {
        position: relative;
      }
      img {
        height: 208px;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 30%;
        background-image: linear-gradient(to right, $pink, $light-pink, $very-light-pink);
        opacity: 0;
      }
      &:hover .info {
        color: #fff !important;
        background-image: linear-gradient(to right, $pink, $light-pink, $very-light-pink);
        transition: all 0.5s;
      }
      &:hover {
        .overlay {
          opacity: 0.2;
          transition: all 0.5s;
        }
      }

      .info {
        padding-top: 0.8rem;
        margin: 0rem 3rem;
        border-bottom: 1px solid #f9f9f9;
        border-right: 1px solid #f9f9f9;
        border-left: 1px solid #f9f9f9;
        border-bottom-left-radius: 24rem;
        border-bottom-right-radius: 24rem;
        max-width: 10rem;
        padding-bottom: 0.5rem;
        .name {
        }
        .city {
          font-size: 0.8rem;
        }
      }
    }
    a.btn {
      background-image: linear-gradient(to right, $pink, $light-pink, $very-light-pink);
      color: #fff;
      border-radius: 24rem;
      font-size: 0.9rem;
    }
  }
  #price {
    background-color: #fffdfe;
    padding-top: 5rem;
    padding-bottom: 5rem;
    .title {
      font-size: 1.6rem;
      color: rgba($color: #000000, $alpha: 0.5);
      span {
        color: #000;
      }
    }
    .col-md-4 {
      padding-top: 3rem;
      .card {
        margin: 1rem auto;
        position: relative;
        margin-top: 6rem;
        max-width: 18rem;
        &:hover .card-top {
          background-image: linear-gradient(to right, $pink, $very-light-pink);
          color: white;
          -webkit-background-clip: border-box;
          transition: all 0.5s;
        }
        &:hover .card-button {
          background-image: linear-gradient(to right, $pink, $very-light-pink);
          color: white;
          -webkit-background-clip: border-box;
          transition: all 0.5s;
        }
        .card-body {
          .card-title {
            border-bottom: 1px solid #eee;
          }
          .features {
            font-size: 0.9rem;
          }
        }
        .card-top {
          position: absolute;
          top: -33%;
          left: 19%;
          border-top-left-radius: 90px;
          border-top-right-radius: 90px;
          border-right: 1px solid #fff;
          border-left: 1px solid #fff;
          border-top: 1px solid #fff;
          padding: 2rem 4rem 2rem;
          max-height: 6rem;
          font-family: fantasy;
          font-size: 1.5rem;
          font-weight: bold;
          background-image: linear-gradient(to right, $pink, $very-light-pink);
          -webkit-background-clip: text;
          color: transparent;
        }
        .card-button {
          position: absolute;
          bottom: -7%;
          left: 21%;
          border: 1px solid #eee;
          border-radius: 24rem;
          font-size: 0.9rem;
          background-color: #fff;
        }
      }
    }
  }
  #app {
    background-color: #f9f9f9;
    padding-top: 5rem;
    .title {
      margin-top: 10rem;
      .download {
        font-size: 1.6rem;
        color: rgba($color: #000000, $alpha: 0.5);
      }
      .ready {
        font-size: 1.6rem;
        color: rgba($color: #000000, $alpha: 0.5);
        span {
          color: #000;
        }
      }
      .buttons {
        margin-top: 3rem;
        button {
          border: 1px solid #eee;
          border-radius: 24rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          &:hover {
            background-image: linear-gradient(to right, $pink, $very-light-pink);
            transition: all 0.5s;
            & .tiny {
              color: white;
              transition: all 0.5s;
            }
          }
          .tiny {
            border-right: 1px solid #eee;
            padding: 0 0.8rem 0 0;
            width: 1.9rem !important;
            background-image: linear-gradient(to right, $pink, $very-light-pink);

            -webkit-background-clip: text;
            color: transparent;
          }
        }
      }
    }
  }
  #story {
    .title {
      margin-top: 7rem;
      font-size: 1.6rem;
      color: rgba($color: #000000, $alpha: 0.6);
      span {
        font-size: 1.8rem;
        color: #000;
      }
    }
    .col-md-4 {
      margin-top: 4rem;
      .card {
        position: relative;
        max-width: 20rem;
        margin: 0 auto;

        .card-img-top {
          max-height: 19rem;
        }
        .card-body {
          .row {
            font-size: 0.9rem;
          }
          i {
            background-image: linear-gradient(to right, $pink, $very-light-pink);

            -webkit-background-clip: text;
            color: transparent;
            font-size: 1rem;
            padding-right: 0.5rem;
          }
          span {
            color: #6c757d;
            padding-bottom: 0.8rem;
          }
          .title {
            font-size: 1.2rem;
          }
        }
        .card-button {
          position: absolute;
          bottom: -4%;
          left: 22%;
          a {
            border: 1px solid red;
            border-radius: 24rem;
            background-image: linear-gradient(to right, $pink, $very-light-pink);
            color: white;
          }
        }
      }
    }
  }
  #subscribe {
    background-image: url("../images/dawn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 6rem;
    color: white;
    background-attachment: fixed;
    .overlay {
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(#000, 0.5);
      .title {
        margin-top: 11rem;
        font-size: 2.4rem;
        color: rgba($color: #fff, $alpha: 0.8);
        span {
          font-size: 2.6rem;
          color: white;
        }
      }
      .input-group {
        max-width: 35rem;
        margin: 3rem auto;
        padding-bottom: 6rem;
        button {
          border-top-right-radius: 24rem;
          border-bottom-right-radius: 24rem;
          background-image: linear-gradient(to right, $pink, $very-light-pink);
          color: white;
          &::after {
            background-color: transparent;
          }
        }
        input {
          border-top-left-radius: 24rem;
          border-bottom-left-radius: 24rem;
        }
      }
    }
  }
  footer {
    background-color: #252525;
    .myborder {
      border-bottom: 1px solid #757575;
      img {
        margin: 0 auto;
      }
      .media {
        margin: 1rem auto;
        p {
          margin: 1rem auto;
          svg {
            margin-right: 1.5rem;
            padding: 8px;
            border: 1px solid #757575;
            border-radius: 50%;
            width: 2.2rem !important;
            height: 2.2rem;
            color: #757575;
            &:hover {
              color: white;
              background-image: linear-gradient(to right, $pink, $very-light-pink);
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
  .copy {
    color: #757575;
    font-size: 0.9rem;
  }
  nav {
    color: #757575;
    font-size: 0.9rem;
  }
}

.card:hover {
  box-shadow: 0px 3px 6px 2px rgba($color: $pink, $alpha: 0.2);
  transition: all 0.5s ease;
}

.pink {
  color: $pink;
}

.heart-space {
  span.pink {
    margin-right: -0.6rem;
  }
  svg {
    margin-bottom: -0.4rem;
  }
  span.text-muted {
    margin-left: -0.6rem;
  }
}

// ANIMATION

.heading-primary-sub {
  display: block;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1.74rem;
  animation: moveRight 1s;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(10rem);
  }
}

[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 15px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 6px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 6px;
  border-radius: 10px;
  background-color: #ccc;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 6px;
  border-radius: 10px;
  background-color: #ccc;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 6px;
  border-radius: 14px;
  background-color: $very-light-pink;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -6px;
  z-index: 2;
  height: 15px;
  width: 15px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to right, $pink, $very-light-pink);
  border-radius: 50%;
  outline: none;
}

[slider] > input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type="range"]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type="range"]:focus {
  outline: none;
}

div[slider] > input[type="range"]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type="range"]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type="range"]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type="range"]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index: 3;
  background-color: $pink;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: "";
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: $pink;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}

// MEDIA QUERIRES

@media only screen and (max-width: 500px) {
  body {
    overflow-x: hidden !important;
  }
  #home {
    background-image: linear-gradient(to right, rgba($light-pink, 0.2), rgba($light-pink, 0.2)),
      url("../images/sakura.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .overlay {
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 999;
    }
    nav {
      .logo {
        max-width: 8rem;
        margin-top: -10px;
      }
    }
    .ribbon {
      max-width: 10rem;
      padding-right: 1rem;
      height: 20rem;
    }
    .col-md-4 {
      margin-bottom: 5rem !important;
    }
    .title {
      margin-top: -4rem !important;
    }
    .meet {
      font-size: 1.2rem !important;
      margin-top: -7rem;
      margin-left: -2rem !important;
      color: white;
    }
    .one,
    .two,
    .three {
      font-size: 0.9rem;
      margin-left: -1.2rem !important;
    }
    .two {
      margin-left: 0.4rem !important;
    }
    .three {
      margin-left: 1.2rem !important;
    }
    a.btn {
      left: 88% !important;
    }
  }
  #kiss {
    .search1 {
      border-radius: 0 !important;
      padding-top: 3rem !important;
      padding-bottom: 2.5rem !important;
      #slider-distance {
        margin-top: 3rem !important;
      }
      select {
        margin-left: 1.2rem;
      }
      input {
        margin-bottom: 2rem !important;
      }
      a.btn {
        margin-top: 2.5rem !important;
      }
    }
  }
  #info {
    .card {
      .card-body {
        padding-top: 3rem !important;
        padding-bottom: 2.5rem !important;
        .card-top {
          top: -44% !important;
          left: 25% !important;
        }
      }
    }
  }
  #match {
    .names {
      border-radius: 0 !important;
      .crushed-name {
      }
      .crushed {
        width: 16rem !important;
      }
      .crush-name {
        margin-top: 2rem !important;
      }
    }
  }
  #work {
    .card {
      .card-body {
        padding-top: 2rem !important;
        padding-bottom: 2rem;
      }
    }
  }
  #reviews {
    img {
      margin-top: 3rem !important;
    }
  }
  #members {
    .card {
      .info {
        margin-left: 5rem !important;
      }
    }
  }
  #price {
    .card {
      .card-top {
        top: -33% !important;
      }
    }
  }
  #app {
    .title {
      margin-top: 3rem !important;
    }
    button {
      font-size: 0.8rem !important;
      margin-right: 0 !important;
      margin-bottom: 2rem !important;
    }
  }
  #story {
    .card {
      margin-top: 4rem !important;
    }
  }
  footer {
    img {
      max-width: 10rem;
    }
  }
}
